Options +FollowSymlinks

# Réécrit une URL de type xxx/yyy/zzz/index.php en index.php?controleur=xxx&action=yyy&id=zzz
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [S=3]
RewriteRule ^([\w-]+)$			index.php?controller=$1 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)$		index.php?controller=$1&action=$2 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)$	index.php?controller=$1&action=$2&id=$3 [L,QSA]
