.home{
	background-image:url("../img/design/bet.png");
	background-size:cover;
	min-height:800px;
	.day{
		width:70%;
		margin:0 auto;
		background-color:white;
		opacity:0.85;
		padding:20px;
		i{
			color:gray;
			font-size:1.5rem;
			transition:1s;
			&:hover{
				color:black;
			}
		}
	}
	.daymenu{
		background-color:white;
		opacity:0.8;
		padding:20px;
		transition:1s;
		&:hover{
			opacity:0.9;
		}
		a{
			font-size:1.2rem;
			text-decoration:none;
			color:gray;
			transition:1s;
			&:hover{
				color:black;
			}
		}
	}
}
@media(max-width: 768px){
	.home{
		.day{
			width:100% !important;
			margin:0;
		}
	}
}