.league{
	background:linear-gradient(#606e84,black);
	min-height:800px;
	
	.leaguetable{
		width:70%;
		margin:0 auto;
		background-color:white;
		opacity:0.85;
		padding:20px;	
	}
	button a{
		color:white;
	}
}
@media(max-width: 768px){
	.league{
		.leaguetable{
			width:100% !important;
			margin:0;
		}
	}
}